# Next.js
.next/
out/

# Dependencies
node_modules/

# Env files
.env
.env.local
.env.*.local

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Misc
.DS_Store
*.pem

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

.env*.local
